<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     <!-- Include jQuery and jQuery UI scripts -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</head>
<body>

  <div class="banner">
    <img src="{% static 'images/banner_img.png' %}" alt="Background Image" class="banner-bg">
    <div class="banner-content">
      <h1>You found us!</h1>
      <p>Discover new television writers daily.</p>
    </div>
    <div class="banner-overlay"></div>
  </div>
  
  
  
  


 <!-- Displays the most recently added tv pilots -->
  <div class="rec-added-tv-shows">
    <div class="rec-added-tv-shows-header">Recently Added Pilots</div>
    <div class="rec-added-tv-posters">
      {% for show in shows|slice:":10" %}
        <div class="rec-added-tv-poster">
          <img src="{{ show.poster.url }}" alt="{{ show.title }}">
          <div class="rec-added-tv-details">
            <a href="{% url 'show_page' show.id %}" class="rec-added-tv-title">{{ show.title }}</a>
            <p>Page Count: {{ show.count }}</p>
            <div class="creators-container">
              <div class="creators">
                {% for creator in show.creators.all %}
                 <a href="{% url 'creator' creator.id %}">{{ creator.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </div>
            </div>
            <a href="{{ show.script.url }}" target="_blank">Read Me</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
   
<!-- Displays the randomly generated suggested writers from the db -->
<div class="creator-of-the-month">
  <div class="creator-of-the-month-header">Suggested Show Creators</div>
  <div class="creator-of-the-month-list">
    {% for creator_of_the_month in creators_of_the_month %}
      <div class="individual-creator-of-the-month">
        <div class="individual-creator-of-the-month-image">
          <a href="{% url 'creator' creator_of_the_month.creator_id %}">
            <img src="{{ creator_of_the_month.creator_image }}" alt="{{ creator_of_the_month.creator_name }}">
          </a>
          <div class="individual-creator-of-the-month-overlay"></div>
        </div>
        <div class="individual-creator-of-the-month-details">
          <h3><a href="{% url 'creator' creator_of_the_month.creator_id %}">{{ creator_of_the_month.creator_name }}</a></h3>
          <p>Current Scripts in Database:</p>
          <ul class="script-list">
            {% for show in creator_of_the_month.current_scripts %}
              <li>
                <img src="{{ show.poster.url }}" alt="{{ show.title }} Poster">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

</div>


    
<!-- Displays staff favorites in the db -->
<div class="staff-favorites">
  <div class="staff-favorites-header">Staff Favorites</div>
  <div class="staff-favorites-show-list">
    {% for favorite in staff_favorites|slice:":10" %}
      <div class="staff-favorites-show-item">
        {% if favorite.show.poster %}
          <a href="{% url 'show_page' favorite.show.id %}">
            <div class="staff-favorites-show-poster">
              <img class="staff-favorites-poster" src="{{ favorite.show.poster.url }}" alt="Poster">
              <div class="staff-favorites-poster-overlay">
                <p class="staff-favorites-poster-title">{{ favorite.show.title }}</p>
              </div>
            </div>
          </a>
        {% endif %}
      </div>
    {% endfor %}
    <!-- Add the "More" link for Staff Favorites -->
    <a href="{% url 'all_staff_favorites' %}" class="more-link-staff-favorites">More</a>
  </div>
</div>



    <div class="influential-shows">
      <div class="influential-shows-header">Influential Shows</div>
      <div class="influential-shows-show-list">
        {% for influential_show in influential_shows|slice:":10" %}
          <div class="influential-shows-show-item">
            {% if influential_show.show.poster %}
              <a href="{% url 'show_page' influential_show.show.id %}">
                <div class="influential-shows-show-poster">
                  <img class="influential-shows-poster" src="{{ influential_show.show.poster.url }}" alt="Poster">
                  <div class="influential-shows-poster-overlay">
                    <p class="influential-shows-poster-title">{{ influential_show.show.title }}</p>
                  </div>
                </div>
              </a>
            {% endif %}
          </div>
        {% endfor %}
        <!-- Add the "More" link after the loop -->
        <a class="more-link" href="{% url 'influential_shows' %}">More</a>
      </div>
    </div>
    
      <script>
        // Function to handle hiding poster images if needed
        function handleScriptList() {
          const scriptListContainer = document.querySelector('.script-list-container');
          const scriptListItems = scriptListContainer.querySelectorAll('li');
          const maxHeight = 200; // Adjust this value as needed
      
          let totalHeight = 0;
          for (const listItem of scriptListItems) {
            totalHeight += listItem.clientHeight;
            if (totalHeight > maxHeight) {
              listItem.querySelector('img').style.display = 'none';
            }
          }
        }
      
        // Call the function on page load
        window.addEventListener('load', handleScriptList);      
      </script>

      
</body>
</html>
{% endblock content %}