<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/influential_shows.css' %}">
    <title>Influential Shows</title>
</head>
<body>
   
    <div class="title-container">
      <h2 class="influential-shows-header">Influential Shows</h2>
    </div>

    <div class="search-results">
        {% for influential_show in influential_shows %}
          <div class="search-result">
            {% if influential_show.show.poster %}
              <img src="{{ influential_show.show.poster.url }}" alt="{{ influential_show.show.title }} Poster">
              <div class="poster-overlay">
                <div class="title"><a href="{% url 'show_page' influential_show.show.id %}">{{ influential_show.show.title }}</a></div>
                <div class="creators">
                  {% for creator in influential_show.show.creators.all %}
                    <a href="{% url 'creator' creator.id %}">{{ creator.name }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      
</body>
</html>
{% endblock content %}